<p> <%= link_to "Edit Work Item", edit_work_path(@work) %> </p>
<p> Project: <%=  @project.name %> </p>
<p> User: <%= @user.fname %></p>
<p> Work: <%=  @work.hours %> </p>
<% if @work.doc %>
    <p>Document: <%= link_to @work.doc, "/uploads/#{@work.doc}" %></p>
<% end %>
<% content_for :aside do %>
	
<% end %> 