<p> <%= link_to "Edit Work Item", edit_work_path(@work) %> </p>
<p> Project: <%=  @project.name %> </p>
<p> User: <%= @user.fname %></p>
<p> Work: <%=  @work.hours %> </p>

<% content_for :aside do %>
	<button><%= link_to "Back", works_path %></br></button>
<% end %> 